<h2>Welcome to {{title}}</h2>
<a class="button" href="manageSpace?space={{spaceID}}">Manage Space</a>

<h3>Threads in this space</h3>
{{#each this.threads}}
<div class="container-fluid" id="Thread-{{this.thread_ID}}">
    <p>Title: {{this.thread_Name}}</p>
    <p style="background-color:grey">{{this.thread_PostContent}}</p>
    {{> threadNotifyWidget}}
</div>
{{/each}}