<div class="panel space" id="space-{{this.moduleID}}">
    <a href="threads?space={{this.moduleID}}">{{this.moduleID}} - {{this.name}}</a>
    <p>Year: {{this.academicYear}}</p>
    <!--TODO Maybe list admins? -->
</div>