<div class="container-fluid">
    <h2>Notification options for this thread</h2>

    <div class="alert-{{messageType}}">
        {{message}}
    </div>
    <script>
        function followThread() {
            $.ajax(url,{

                'method':'POST',
                data : {
                    'action': 'follow',
                    'thread': '{{threadID}}'
                },
                success : function(data) {}

            });
        }

        function unfollowThread() {
            $.ajax(url,{
                'method':'POST',
                data : {
                    'action': 'unfollow',
                    'thread': '{{threadID}}'
                },
                success : function(data) {}
            });
        }
    </script>

        {{#if following}}
            <button class="btn btn-primary" onclick="unfollowThread()" >Unfollow Thread</button>
        {{else}}
            <button class="btn btn-primary" onclick="followThread()">Follow Thread</button>
        {{/if}}

    <form name="appraisals" id="appraisals">
        <h2>Register to follow appraisals</h2>
        <input class="form-control" type="text" name="appraisalName" id="appraisal" placeholder="eg. funny"><br>
        <button class="btn btn-primary" onclick="followAppraisal()">Follow Appraisal</button>
        <button class="btn btn-primary" onclick="unfollowAppraisal()" >Unfollow Appraisal</button>
    </form>
</div>
